body {
	background-color: #ffffff;
}

.main-contents {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #ffffff;
	height: 100px;
	width: 500px;
	text-align: left;
}

.tweet-box1 {
	width: 200px;
	height: 20px;
}
.tweet-box2 {
	width: 150px;
	height: 20px;
}
.tweet-box3 {
	width: 500px;
	height: 200px;
}
.tweet-box4 {
	width: 150px;
	height: 50px;
}
.header {
	text-align: left;
	width: 500px;
	height: 56px;
}

.profile {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	width: 500px;
	height: 30px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .branch {
	font-size: 10px;
	line-height: 10px;
}

.form-area {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #ffffff;
	width: 500px;
}
.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .name {
	font-weight: normal;
}

.message .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .taxt {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}